@model WLCaxtonPortalBusinessEntity.Login
@{
    ViewBag.Title = "ChangePassword";
    var MSG = ViewBag.MSG;
}
@*@Scripts.Render(Url.Content("~/Scripts/jquery-1.8.0.min.js"))
    @Styles.Render(Url.Content("~/Styles/tooltipster.css"))
    @Scripts.Render(Url.Content("~/Scripts/jquery.tooltipster.min.js"))*@
@Scripts.Render(Url.Content("~/Scripts/UserJS/LoginDetails.js"))


@if (Model != null)
{

        <!-- Tab panes -->
<div class="middle-part__tab">
    <h2 class="middle-part__tab--head-with-password-icon">change password</h2>
    <hr class="middle-part__tab--devider">


    <!-- Simple Form Html Start -->
    <section class="simple-form">

        <section id="sectionSuccess" class="notification-section">
            <div class="alert alert-success alert-dismissible" role="alert" style="display: none">
                <button type="button" class="close valid"><span aria-hidden="true">&times;</span></button>
                <p></p>
            </div>
        </section>
        <section id="sectionInfo" class="notification-section">
            <div class="alert alert-warning alert-dismissible" role="alert" style="display: none">
                <button type="button" class="close infoValid"><span aria-hidden="true">&times;</span></button>
                <p></p>
            </div>
        </section>
        <section id="sectionError" class="notification-section">
            <div class="alert alert-danger alert-dismissible" role="alert" style="display: none">
                <button type="button" class="close unvalid"><span aria-hidden="true">&times;</span></button>
                <p></p>
            </div>
        </section>

        <div class="simple-form__form-group row">
            <div class="col-sm-12 col-md-6">
                <label class="simple-form__form-group--label" for="old">
                    Old Password:<span>*</span>
                </label>
                @Html.PasswordFor(model => Model.Password, new
               {
                   @id = "txtOldPassword",
                   //@readonly = "readonly",
                   maxlength = 15,
                   @autocomplete = "off",
                   @autocorrect = "off",
                   @class = "simple-form__form-group--input",
                   @placeholder = "Old Password"
                   //@autocapitalize = "on",
                   //@spellcheck = "true"

               })
                    <label id="lblOldPwdError" class="simple-form__form-group--label simple-form__form-group--labelError"></label>
            </div>
        </div>
        <div class="simple-form__form-group row">
            <div class="col-sm-12 col-md-6">
                <label class="simple-form__form-group--label" for="New">
                    New Password:<span>*</span>
                </label>

                <div class="tooltip-caxton">
                    @Html.PasswordFor(model => model.NewPassword, new
                   {
                       @id = "txtINewPasswordNew",
                       @class = "simple-form__form-group--input required",
                       @placeholder = "New Password",
                       @autocomplete = "off",
                       maxlength = 15
                   })
                        <div class="tooltiptext">
                            <span>The password must be at least 8 characters long,</span>
                            <span>The password must contain at least three of the following:</span>
                            <ul>
                                <li>Upper case character</li>
                                <li>Lower case character</li>
                                <li>Numeric character</li>
                                <li>Punctuation Character including these: ! @@ # $ % ^ & ( ) _ - ; ~</li>
                            </ul>
                        </div>
                </div>
                <label id="lblNewPwdError" class="simple-form__form-group--label simple-form__form-group--labelError"></label>

            </div>


            <div class="col-sm-12 col-md-6">

                <label class="simple-form__form-group--label" for="Re-Type">
                    Re-Type Password:<span>*</span>
                </label>
                <div class="tooltip-caxton">
                    @Html.Password("txtConfirmPassword", "", new
                   {
                       @class = "simple-form__form-group--input required",
                       @placeholder = "Re-Type Password",
                       @autocomplete = "off",
                       maxlength = 15
                   })
                        <div class="tooltiptext">
                            <span>The password must be at least 8 characters long,</span>
                            <span>The password must contain at least three of the following:</span>
                            <ul>
                                <li>Upper case character</li>
                                <li>Lower case character</li>
                                <li>Numeric character</li>
                                <li>Punctuation Character including these: ! @@ # $ % ^ & ( ) _ - ; ~</li>
                            </ul>
                        </div>
                </div>
                <label id="lblConfirmPwdError" class="simple-form__form-group--label simple-form__form-group--labelError"></label>
                @Html.Hidden("hdnChkUser", Convert.ToString(WLCaxtonMvcWebPortal.Util.SessionClass.loggedUser.LoginDetails.EmailId))
            </div>
        </div>
        <label id="lblGlobalError" class="simple-form__form-group--label simple-form__form-group--labelError"></label>
        <input type="button" value="Submit" name="Submit" class="default-btn" id="btnChangePwd" />
        <input type="button" value="Clear" name="Clear" class="default-btn" id="btnClear" onclick="ClearAll();" />
        @*<input type="button" value="Login" name="Login" class="default-btn" id="btnLogin" />*@
    </section>
</div>
<!-- Simple Form Html End -->
}
else
{
    <strong>@{
            Output.Write(Html.Raw(MSG));
        }
    </strong>
{
                    Html.RenderAction("_ContactUs", "Login", new { area = "" });
                }
            }

@*}*@
@*<script type="text/javascript">
      $(document).ready(function () {
          $('.tooltip').tooltipster({ position: 'bottom-left' });
      });

</script>*@


