@model System.Web.Mvc.HandleErrorInfo
@*@model ExceptionError*@
@{

    Layout = null;
}
<hgroup class="title">



    <div style="min-height: 400px;">

        @Html.ValidationMessage("Error")

        <br />
        <br />


        <section id="Page">
            <div class="col-xs-12 well">
                <table cellspacing="5" cellpadding="3" style="background-color:#fff;width:100%;" class="table-responsive">
                    <tbody>
                        <tr>
                            <td valign="top" align="left" id="tableProps">
                                <img src="~/Images/Error_500.jpg" id="pagerrorImg">
                            </td>
                            <td width="360" valign="middle" align="left" id="tableProps2">
                                <h1 style="COLOR: black; FONT: 13pt/15pt verdana" id="errortype"><span id="errorText">@Response.Status</span></h1>
                            </td>
                        </tr>
                        <tr>
                            <td width="400" colspan="2" id="tablePropsWidth">
                                <font style="COLOR: black; FONT: 8pt/11pt verdana">Possible causes:</font>
                            </td>
                        </tr>
                        <tr>
                            <td width="400" colspan="2" id="tablePropsWidth2">
                                <font style="COLOR: black; FONT: 8pt/11pt verdana" id="LID1">
                                    <hr>
                                    <ul>
                                        <li id="list1">
                                            <span class="infotext">
                                                <strong>Baptist explanation: </strong>There
                                                must be sin in your life. Everyone else opened it fine.<br>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="infotext">
                                                <strong>Presbyterian explanation: </strong>It's
                                                not God's will for you to open this link.<br>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="infotext">
                                                <strong> Word of Faith explanation:</strong>
                                                You lack the faith to open this link. Your negative words have prevented
                                                you from realizing this link's fulfillment.<br>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="infotext">
                                                <strong>Charismatic explanation: </strong>Thou
                                                art loosed! Be commanded to OPEN!<br>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="infotext">
                                                <strong>Unitarian explanation:</strong> All
                                                links are equal, so if this link doesn't work for you, feel free to
                                                experiment with other links that might bring you joy and fulfillment.<br>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="infotext">
                                                <strong>Buddhist explanation:</strong> .........................<br>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="infotext">
                                                <strong>Episcopalian explanation:</strong>
                                                Are you saying you have something against homosexuals?<br>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="infotext">
                                                <strong>Christian Science explanation: </strong>There
                                                really is no link.<br>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="infotext">
                                                <strong>Atheist explanation: </strong>The only
                                                reason you think this link exists is because you needed to invent it.<br>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="infotext">
                                                <strong>Church counselor's explanation:</strong>
                                                And what did you feel when the link would not open?
                                            </span>
                                        </li>
                                    </ul>
                                    <p>
                                        <br>
                                    </p>
                                    <h2 style="font:8pt/11pt verdana; color:black" id="ietext">
                                        <img width="56" height="56" align="top" src="~/Images/images_500.jpg">
                                        HTTP @Response.StatusCode - @Response.StatusDescription <br>
                                    </h2>
                                </font>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="list-sfs-holder">
                <div class="alert alert-error">
                    An unexpected error has occurred. Please contact the system administrator.
                </div>
                @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
                {
                    <div>
                        <p>
                            <b>Exception:</b> @Model.Exception.Message<br />
                            <b>Controller:</b> @Model.ControllerName<br />
                            <b>Action:</b> @Model.ActionName
                        </p>
                        <div style="overflow:scroll">
                            <pre>
@Model.Exception.StackTrace
                </pre>
                        </div>
                    </div>
                }

        </section>

        <button onclick="Error_goBack()" class="k-button">Go Back</button>
        <script>
        function Error_goBack() {
            window.history.back()
        }
        </script>

    </div>
</hgroup>
